<div class="row">
 <% @articles.each do |article|%>
   <div class="col-md-4">
     <%= render 'resume', article: article %>
   </div>
 <% end %>
</div>
<div class="row">
  <!-- <%= will_paginate @articles %> -->
  <%= will_paginate @articles, renderer: BootstrapPagination::Rails %>
</div>
